<!DOCTYPE html>
<html lang="de"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>PickmeUp-Guthaben</title>
</head>
<body>
    <p th:object = "${user}">
        <div th:text="${user.name}+' '+${user.lastName} "></div>
    </p>
    <p th:object="${account}">
        <div th:text="${account.balance}"></div>
    </p>
    <div>
      <a href='/profile/create/payment-in'>Einzahlen </a><br>
      <a href='/profile/create/payment-out'>Auszahlen</a>
    </div>
</p>
</body>
</html>