<!DOCTYPE html>
<html lang="de"
 xmlns:th="http://www.thymeleaf.org">
  <head>
      <title>PickmeUp - Profil</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script>

        var userId;

        function fillParam(){
          /*<![CDATA[*/

          userId = [[${user.id}]]

          /*]]>*/
        }

        function cancelBooked(idToSend){

            $.ajax({
                url: "/journey/cancelBooked",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(idToSend),
                success: function(data, status){
                if(data){
                    }
                }.bind(this),
                error: function(xhr, error) {
                  console.log(error);
                }
            });

           setTimeout(function(){
                self.location['reload']()
            }, 500)
        }

        function cancelOffered(idToSend){

            $.ajax({
                url: "/journey/cancelOffered",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(idToSend),
                success: function(data, status){
                if(data){
                    }
                }.bind(this),
                error: function(xhr, error) {
                  console.log(error);
                }
            });

           setTimeout(function(){
                self.location['reload']()
            }, 500)
        }

        window.onload = fillParam;
      </script>
      <style>

        #btn_details{

            padding: 5px 15px;
            font-size: 20px;
            border-radius: 20px;
            text-decoration: none;

        }

          .wrapper{

              display: grid;
              grid-auto-rows: minmax(auto, auto);

          }

          #logo{

             width:130px;
             height:50px;
             margin-top: 5px;

          }

          .container1{

              position: relative;
              margin-left: 120px;
              margin-right: 150px;

          }

          .navbar{

             margin-top: 10px;
          }

          #profilname{

              margin-left: -20px;
              font-style: normal;
              font-size: 40px;
          }

          #kommentarbox{

              margin-left: 15px;
              margin-top: 300px;
              position: absolute;
          }

          #btn_speichern{

              position: absolute;
          }

          #derzeitiges_guthaben{

              width: 100px;
          }

          .btn-block{

              width: 100px;
              margin-top: 20px;
          }

           #kommentarbox{

              position: absolute;
          }

          #output{

              position: absolute;
              margin-left: 348px;
              margin-top: -5px;

          }

          h4{

              margin-left: 15px;
          }


          #linie{

              color: blue;
          }

      </style>

      </head>
  <body>

      <div class="container1">
      <nav class="navbar navbar-expand-md navbar-dark bg-dark" role="navigation">
  <div class="container-fluid">
    <!-- Titel und Schalter werden für eine bessere mobile Ansicht zusammengefasst -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Navigation ein-/ausblenden</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-left"><img id="logo" th:src="@{/images/logo.png}"></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Suche</a></li>
        <li><a href="/journey/create"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Fahrt anbieten</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menü <span class="caret"></span></a>
          <ul class="dropdown-menu navbar-right">
            <li><a th:href="@{'/profile/show/profile?id='+${user.id}+'#offered'}"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>   Angebotene Fahrten</a></li>
            <li><a th:href="@{'/profile/show/profile?id='+${user.id}+'#booked'}"><span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>   Gebuchte Fahrten</a></li>
            <li role="separator" class="divider"></li>
            <li><a th:href="@{'/profile/show/profile?id='+${user.id}+'#profil'}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>   Profil</a></li>
            <li><a th:href="@{'/profile/show/profile?id='+${user.id}+'#balance'}"><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>   Verfügbares Guthaben</a></li>
            <li><a th:href="@{'/profile/show/profile?id='+${user.id}+'#rating'}"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>   Bewertung</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>   Ausloggen</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  </nav>
</div>

<hr>
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><div id="profilname" th:text="${user.name}+' '+${user.lastName}"></div></div>

    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->


      <div class="text-center">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
      </div><br>


        </div><!--/col-3-->
    	<div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#profil">Profil</a></li>
                <li><a data-toggle="tab" href="#offered">Angebotene Fahrten</a></li>
                <li><a data-toggle="tab" href="#booked">Gebuchte Fahrten</a></li>
                <li><a data-toggle="tab" href="#balance">Verfügbares Guthaben</a></li>
                <li><a data-toggle="tab" href="#rating">Bewertung</a></li>
              </ul>

          <div class="tab-content">
            <div class="tab-pane fade in active" id="profil">
                <hr>
                  <form class="form" id="profil">
                      <div class="form-group">

                          <div class="col-xs-6">
                              <label for="Vorname"><h4>Vorname</h4></label>
                              <output type="text" class="form-control" th:text="${user.name}" name="Vorname" id="v_name" title="Vorname"></output>
                          </div>
                      </div>
                      <div class="form-group">

                          <div class="col-xs-6">
                            <label for="last_name"><h4>Nachname</h4></label>
                              <output type="text" class="form-control" th:text="${user.lastName}" name="Nachname" id="n_name" title="Nachname"></output>
                          </div>
                      </div>

                       <div class="form-group">
                          <div class="col-xs-6">
                              <label for="Geburtstag"><h4>Geburtstag</h4></label>
                              <output type="text" class="form-control" th:text="${user.birth}" name="Geburtstag" id="g_burt" title="Geburtsdatum eingeben"></output>
                          </div>
                      </div>

                      <div class="form-group">

                          <div class="col-xs-6">
                              <label for="email"><h4>Email</h4></label>
                              <output type="email" class="form-control" th:text="${user.email}" name="email" id="e_mail" title="E-Mail Adresse"></output>
                          </div>
                      </div>

                      <div class="form-group">

                          <div class="col-xs-6">
                              <label for="Telefonnummer"><h4>Telefonnummer</h4></label>
                              <output type="text" class="form-control" th:text="${user.phone}" name="Telefonnummer" id="t_nummer" title="Telefonnummer"></output>
                          </div>
                      </div>

                      <div class="form-group">
                          <div class="col-xs-6">
                          <label for="status"><h4>Bonusprogramm</h4></label>
                          <output type="number" class="form-control" th:text="${user.bonus.description}" id="b_prozent" name="Bonus" title="Bonus"></output>
                        </div>
                      </div>

              	</form>

                <form id="kommentarbox" action="" th:method="post" th:action="@{/profile/alter/comment}" >
                  <label> Persönliche Angaben: <br><textarea id="comment" th:field= "*{user.comment}"cols="45" rows="5" name="message"></textarea></label>
                  <br>
                  <input id="btn_speichern" class="btn btn-success" type="submit" value="Speichern">
                </form>
                </div>

              <div id="offered" class="tab-pane fade">
                    <hr>

                        <div class="container2">
                        <table frame="void" class="table table-hover">
                      <thead>
                          <tr>
                            <th scope="col"></th>
                            <th scope="col">Startpunkt</th>
                            <th scope="col">Endziel</th>
                            <th scope="col">Abfahrtsdatum</th>
                            <th scope="col">Abfahrtszeit</th>
                            <th scope="col">Ankunftsdatum</th>
                            <th scope="col">Ankunftszeit</th>
                            <th scope="col">Preis/Km</th>
                          </tr>
                        </thead>
                        <tbody th:if="${not #lists.isEmpty(journeyList)}">
                          <tr th:each="journeyToPost: ${journeyList}">
                        <th scope="row">-</th>
                        <td th:text="${journeyToPost.origin}"></td>
                        <td th:text="${journeyToPost.destination}"></td>
                        <td th:text="${journeyToPost.departureDate}"></td>
                        <td th:text="${journeyToPost.departureTime}+' Uhr'"></td>
                        <td th:text="${journeyToPost.arrivalDate}"></td>
                        <td th:text="${journeyToPost.arrivalTime}+' Uhr'"></td>
                        <td th:text="${journeyToPost.priceKm}+' €'"></td>
                        <td><a style="margin-top: -5px;transform: scale(0.9);" class="btn btn-success" th:href="@{'/journey/details/?id='+${journeyToPost.id}}" role="button">Details</a></td>
                        <td><a style="margin-top: -5px; transform: scale(0.9);" class="btn btn-success" th:href="@{'/journey/edit?id='+${journeyToPost.id}}" role="button">Bearbeiten</a></td>
                        <td><input style="margin-top: -5px; transform: scale(0.9);" class="btn btn-success"  th:onclick="|cancelOffered('${journeyToPost.id}')|" type="submit" value="Stornieren"></td>
                          </tr>
                        </tbody>
                      </table>
                      </div>
                    </div>



              <div id="booked" class="tab-pane fade">
                            <hr>
                              <div class="container2">
                                <table frame="void" class="table table-hover">
                              <thead>
                                  <tr>
                                    <th scope="col">-</th>
                                    <th scope="col">Startpunkt</th>
                                    <th scope="col">Endziel</th>
                                    <th scope="col">Abfahrtsdatum</th>
                                    <th scope="col">Abfahrtszeit</th>
                                    <th scope="col">Ankunftsdatum</th>
                                    <th scope="col">Ankunftszeit</th>
                                    <th scope="col">Preis/Km</th>
                                  </tr>
                                </thead>
                                <tbody th:if="${not #lists.isEmpty(bookedList)}">
                                  <tr th:each="bookedToPost: ${bookedList}">
                                <th scope="row">-</th>
                                <td th:text="${bookedToPost.origin}"></td>
                                <td th:text="${bookedToPost.destination}"></td>
                                <td th:text="${bookedToPost.departureDate}"></td>
                                <td th:text="${bookedToPost.departureTime}+' Uhr'"></td>
                                <td th:text="${bookedToPost.arrivalDate}"></td>
                                <td th:text="${bookedToPost.arrivalTime}+' Uhr'"></td>
                                <td th:text="${bookedToPost.priceKm}+' €'"></td>
                                <td><a style="margin-top: -5px;transform: scale(0.9);" class="btn btn-success" th:href="@{'/journey/details/?id='+${bookedToPost.id}}" role="button">Details</a></td>
                                <td><input style="margin-top: -5px; transform: scale(0.9);" class="btn btn-success" type="submit"  th:onclick="|cancelBooked('${bookedToPost.id}')|"  th:value="Stornieren"></td>
                                  </tr>
                                </tbody>
                              </table>
                              </div>
                            </div>

              <div id="balance" class="tab-pane fade">
                <hr>
                <form class="form-inline">
                <div class="form-group">
                <label for="derzeitiges_guthaben">Ihr derzeitiges Guthaben beträgt: </label>
                <output type="text" th:text="${account.balance}" class="form-control" id="derzeitiges_guthaben">
                </output>
                </div>
                <a class="btn btn-success btn-block" th:href="@{/profile/create/payment-in}" role="button">Einzahlen</a>
                <a class="btn btn-success btn-block" th:href="@{/profile/create/payment-out}" role="button">Auszahlen</a>
                </form>
            </div>

              <div id="rating" class="tab-pane fade">
                  <hr>
                      <table frame="void" class="table">
                    <thead>
                        <tr>

                          <th scope="col">Note</th>
                          <th scope="col">Von</th>
                          <th scope="col">Kommentar</th>
                        </tr>
                      </thead>
                          <tbody th:if="${not #lists.isEmpty(ratingList)}">
                              <tr th:each="ratingToPost: ${ratingList}">
                              <th th:text="${ratingToPost.grade}"></th>
                              <td> <a th:href="@{'/profile/show/profile?id='+${ratingToPost.publisher.id}}" th:text="${ratingToPost.publisher.name}+' '+${ratingToPost.publisher.lastName}"/></td>
                              <td th:text="${ratingToPost.message}"></td>
                              </tr>
                          </tbody>
                      </table>
                  <hr>
              </div>

          </div>
        </div>
      </div>
      </div>
    <script>

          $(function () {
          var activeTab = $('[href="' + location.hash + '"]');
          activeTab && activeTab.tab('show');
          });

    </script>
    </body>
</html>
