<!DOCTYPE html>
<html lang="de"
      xmlns:th="http://www.thymeleaf.org">
  <head>
      <title>Profil1</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="/javascripts/jquery.localscroll.js?1281125099" type="text/javascript"></script>
      <script src="/javascripts/jquery.scrollTo.js?1281125099" type="text/javascript"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      
      <style>
          
          #logo{
              
             width:130px;
             height:50px;
             margin-top: 5px;
             
             
          }
          .navbar{
              
              margin-left: 150px;
              margin-right: 150px;
          }
          
          #profilname{
              
              margin-left: -20px;
              font-style: normal;
              font-size: 40px;
          }
          
          #kommentarbox{
              
              margin-left: 15px;
              margin-top: 300px;
              position: absolute;
          }
          
          #btn_speichern{
              
              position: absolute;
              border-radius: 20px;
          }
          #derzeitiges_guthaben{
              
              width: 100px;
          }
          
          .btn-block{
              
              width: 100px;
              margin-top: 20px;
              border-radius: 20px;
          }

      </style>
      
      </head>
  <body>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark" role="navigation">
  <div class="container-fluid">
    <!-- Titel und Schalter werden für eine bessere mobile Ansicht zusammengefasst -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Navigation ein-/ausblenden</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-left"><img id="logo" th:src="@{/images/logo.png}"></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Suche</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Fahrt anbieten</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menü <span class="caret"></span></a>
          <ul class="dropdown-menu navbar-right">
            <li><a th:href="@{'/profile/show/profile?id='+${user.id}+'#offered'}"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>   Angebotene Fahrten</a></li>
            <li><a th:href="@{'/profile/show/profile?id='+${user.id}+'#booked'}"><span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>   Gebuchte Fahrten</a></li>
            <li role="separator" class="divider"></li>
            <li><a th:href="@{'/profile/show/profile?id='+${user.id}+'#profil'}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>   Profil</a></li>
            <li><a th:href="@{'/profile/show/profile?id='+${user.id}+'#balance'}"><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>   Verfügbares Guthaben</a></li>
            <li><a th:href="@{'/profile/show/profile?id='+${user.id}+'#rating'}"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>   Bewertung</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>   Ausloggen</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  </nav>

<hr>
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><div id="profilname">Name</div></div>
    	
    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
              

      <div class="text-center">
        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-circle img-thumbnail" alt="avatar">
        <h6>Anderes Foto einfügen...</h6>
        <input type="file" class="text-center center-block file-upload">
      </div><br>
          
          
        </div><!--/col-3-->
    	<div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#profil">Profil</a></li>
                <li><a data-toggle="tab" href="#offered">Angebotene Fahrten</a></li>
                <li><a data-toggle="tab" href="#booked">Gebuchte Fahrten</a></li>
                <li><a data-toggle="tab" href="#balance">Verfügbares Guthaben</a></li>
                <li><a data-toggle="tab" href="#rating">Bewertung</a></li>
              </ul>

              
          <div class="tab-content">
            <div class="tab-pane fade in active" id="profil">
                <hr>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="Vorname"><h4>Vorname</h4></label>
                              <output type="text" class="form-control" th:text="${user.name}" name="Vorname" id="v_name" title="Vorname"></output>
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="last_name"><h4>Nachname</h4></label>
                              <output type="text" class="form-control" th:text="${user.lastName}" name="Nachname" id="n_name" title="Nachname"></output>
                          </div>
                      </div>
                      
                       <div class="form-group">
                          <div class="col-xs-6">
                              <label for="Geburtstag"><h4>Geburtstag</h4></label>
                              <output type="text" class="form-control" th:text="${user.phone}" name="Geburtstag" id="g_burt" title="Geburtsdatum eingeben"></output>
                          </div>
                      </div>
                      
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="email"><h4>Email</h4></label>
                              <output type="email" th:text="${user.email}" class="form-control" name="email" id="e_mail" title="E-Mail Adresse"></output>
                          </div>
                      </div>
          
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="Telefonnummer"><h4>Telefonnummer</h4></label>
                              <output type="text" class="form-control" th:text="${user.phone}" name="Telefonnummer" id="t_nummer" title="Telefonnummer"></output>
                          </div>
                      </div>
                <form id="kommentarbox" action="" method="post">
                <label> Persönliche Angaben: <br><textarea cols="45" rows="5" name="message"></textarea></label>
                <input id="btn_speichern" class="btn btn-success" type="submit" value="Speichern">
                </form>
                </div>
              
              <div id="offered" class="tab-pane fade">
                <h3>Menu 1</h3>
                <p>Some content in menu 1.</p>
              </div>
              
              <div id="booked" class="tab-pane fade">
                <h3>Menu 1</h3>
                <p>Some content in menu 2.</p>
              </div>
              
              <div id="balance" class="tab-pane fade">
                <hr>
                <form class="form-inline">
                <div class="form-group">
                <label for="derzeitiges_guthaben">Ihr derzeitiges Guthaben beträgt: </label>
                <output type="text"  th:text="${account.balance}" class="form-control" id="derzeitiges_guthaben">
                </output>
                </div>
                <a class="btn btn-success btn-block" th:href="@{/profile/create/payment-in}" role="button">Einzahlen</a>
                <a class="btn btn-success btn-block" th:href="@{/profile/create/payment-out}" role="button">Auszahlen</a>
                </form> 
            </div>
              
              <div id="rating" class="tab-pane fade">
                <div th:if="${not #lists.isEmpty(ratingList)}">

                                      <table>
                                          <tr>
                                              <th>Nachricht</th>
                                              <th>User</th>
                                          </tr>
                                          <tr th:each="rating: ${ratingList}">
                                          <td th:text="${rating.message}"></td>
                                          <td> <a th:text="${rating.publisher.name}+' '+${rating.publisher.lastName}" th:href="@{/profile/show/profile(id=${rating.publisher.id})}"></a></td>
                                          </tr>
                                      </table>
                                  </div>

              </div>
          </div>
        </div>
      </div>
      </div>
      <script>
            $(function () {
            var activeTab = $('[href=' + location.hash + ']');
            activeTab && activeTab.tab('show');
            });
      </script>
    </body>
</html>
