<!DOCTYPE html>
<html lang="de"
xmlns:th="http://www.thymeleaf.org">
    <head>
      <title>PickmeUp - Anbieten</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

      <style>

          .closebtn:hover {
          color: black;
          }

          #logo{

             width:130px;
             height:50px;
             margin-top: 5px;

          }

          .navbar{

              margin-top: 10px;

          }

          .wrapper{

              display: grid;
              grid-auto-rows: minmax(auto, auto);

          }

          .container1{

              position: relative;

          }

          #map {

              height: 100%;
              float: right;
              margin-top: -280px;
              border: solid black;
              position: fixed;


          }

          .container4{

          }

        </style>

        <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>
              var places = {};
              var autocompletes = {};
              var journey = {};
              var repeat = {};
              var car = {};

                function precision(number) {
                  var str = "" + number;
                  var index = str.indexOf('.');
                  if (index >= 0) {
                    return str.length - index - 1;
                  } else {
                    return 0;
                  }
}

              function initAutocomplete() {

                  var directionsService = new google.maps.DirectionsService;
                  var directionsDisplay = new google.maps.DirectionsRenderer;
                  var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 5,
                    center: {lat: 51.133481, lng: 10.018343},
                    streetViewControl: false,
                    fullscreenControl: false,
                    mapTypeControlOptions: { mapTypeIds: [] }
                  });
                  directionsDisplay.setMap(map);

                var inputs = document.getElementsByClassName('input');

                var options = {
                  componentRestrictions: {country: 'de'}
                };

                function getRoute () {
                  // Get the place details from the autocomplete object.
                  var place = autocompletes[this.inputId].getPlace();

                  places[this.inputId] = place;

                  if (places.destination && places.origin){
                      var waypoints = [];

                      Object.keys(places).filter(key => (key !== 'destination' && key !== 'origin')).map(key => {
                          waypoints.push({
                            location: getLatLng(places[key]),
                            stopover: true
                          })
                      });


                      directionsService.route({
                          origin: getLatLng(places.origin),
                          destination: getLatLng(places.destination),
                          waypoints: waypoints,
                          optimizeWaypoints: false,
                          travelMode: 'DRIVING'
                        }, function(response, status) {
                          if (status === 'OK') {
                            journey.route = JSON.stringify(response)
                            journey.legs = JSON.stringify(response.routes[0].legs);
                            directionsDisplay.setDirections(response);
                          } else {
                            window.alert('Directions request failed due to ' + status);
                          }
                        });
                  }

                };


                for (var i = 0; i < inputs.length; i++) {
                  var autocomplete = new google.maps.places.Autocomplete(inputs[i], options);
                  autocomplete.inputId = inputs[i].id;
                  autocomplete.addListener('place_changed', getRoute);
                  autocompletes[autocomplete.inputId] = autocomplete;
                }

              }

              function getLatLng(place) {
                  var lat = place.geometry.location.lat();
                  var lng = place.geometry.location.lng();
                  var LatLng = new google.maps.LatLng(lat, lng);
                  return LatLng;
              }

              function updateJourney(){
             /*<![CDATA[*/

              journey.id = [[${journey.id}]];

              /*]]>*/


              car.colour = $("#colour").val();
              car.type = $("#type").val();
              car.licence = $("#licence").val();
              journey.seats = $("#seats").val();
              journey.bags = $("#bags").val();
              journey.priceKm = $("#priceKm").val();
              journey.priceBag = $("#priceBag").val();
              journey.departureDate = $("#departuredat").val();
              journey.arrivalDate = $("#arrivaldat").val();
              journey.departureTime = $("#departuretime").val();
              journey.arrivalTime = $("#arrivaltime").val();
              journey.origin = $("#origin").val();
              journey.destination = $("#destination").val();
              journey.repeat = repeat;
              journey.car = car;


                               if(document.getElementById('seats').value <= 0){
                                   alert("Es muss mindestens ein Platz angeboten werden.");
                                   return;
                               }

                              if(document.getElementById('seats').value % 1 != 0){
                                   alert("Ungülter Wert des freien Gepäcks.");
                                   return;
                               }

                                if(document.getElementById('seats').value > 6){
                                    alert("Zu viele Plätze angeboten.");
                                    return;
                                }

                                  if(document.getElementById('bags').value > 10 ){
                                      alert("Zu viele Gepäckplätze angeboten.");
                                      return;
                                  }

                                  if(document.getElementById('bags').value < 0 ||document.getElementById('bags').value % 1 != 0){
                                      alert("Ungülter Wert des freien Gepäcks.");
                                      return;
                                  }

                                  if(document.getElementById('bags').value <= 10 && document.getElementById('bags').value > 0 && parseFloat(document.getElementById('priceBag').value) <=0 ){
                                      alert("Es muss ein Preis für das Gepäck angegeben werden..");
                                      return;
                                  }

                                  if(parseFloat(document.getElementById('priceKm').value) < 0.01 || precision(document.getElementById('priceKm').value) > 2 ){
                                      alert("Ungülter Wert des geforderten Preises pro Kilometer.");
                                      return;
                                  }

                                  if(parseFloat(journey.priceKm.value) < 0.01 || precision(document.getElementById('priceBag').value) > 2){
                                      alert("Ungülter Wert des geforderten Preises pro Gepäckstück.");
                                      return;
                                  }

                                  if(journey.priceKm == ""){
                                      alert("Bitte geben Sie einen Preis pro Kilometer an.");
                                      return;
                                  }

                                  if(/^\d+\.\d+$/.test(journey.priceKm) != true){

                                      alert("Bitte geben Sie einen gültigen Preis pro Kilometer an.");
                                      return;
                                  }

                                 if(/^\d+\.\d+$/.test(journey.priceBag) != true && journey.priceBag >0){
                                      alert("Bitte geben Sie einen gültigen Preis pro Gepäckstück an.");
                                      return;
                                  }

                                  if(journey.seats == ""){
                                      alert("Bitte geben Sie die Anzahl der freien Plätze an.");
                                      return;
                                  }

                                  if(journey.departureDate == ""){
                                      alert("Bitte geben Sie ein Abfahrtsdatum an.");
                                      return;
                                  }

                                  if(journey.departureTime == ""){
                                      alert("Bitte geben Sie eine Abfahrtszeit an.");
                                      return;
                                  }

                                  if(journey.arrivalDate == ""){
                                      alert("Bitte geben Sie ein Ankunftsdatum an.");
                                      return;
                                  }

                                  if( deptdt  < current ){
                                      alert("Ungültiges Abfahrtsdatum.");
                                      return;
                                  }

                                  if( deptdt  == current && $("#departuretime").val() <= current.getTime()){
                                      alert("Ungültige Kombination aus Abfahrtsdatum und Ankunftsdatum.");
                                      return;
                                  }

                                  if( deptdt  == current && $("#departuretime").val() <= current.getTime()){
                                      alert("Die Fahrt muss.");
                                      return;
                                  }

                                  if( arrivdt < deptdt ){
                                      alert("Ungültige Kombination aus Abfahrtsdatum und Ankunftsdatum.");
                                      return;
                                  }

                                  if( arrivdt >= deptdt ){
                                      if($("#arrivaltime").val() <= $("#departuretime").val()){
                                      alert("Ungültige Kombination aus Abfahrtszeit und Ankunftszeit.");
                                      return;
                                      }
                                  }

                                  if(journey.arrivalTime == ""){
                                      alert("Bitte geben Sie einen Ankunftszeitpunkt an.");
                                      return;
                                  }
                                  if(journey.origin == ""){
                                      alert("Bitte geben Sie einen Abfahrtsort an.");
                                      return;
                                  }
                                  if(journey.destination == ""){
                                      alert("Bitte geben Sie einen Ankunftsort an.");
                                      return;
                                  }
                                  if(car.colour == ""){
                                      alert("Bitte geben Sie die Farbe ihres Autos an.");
                                      return;
                                  }
                                  if(car.type == ""){
                                      alert("Bitte geben Sie den Typen ihres Autos an.");
                                      return;
                                  }
                                  if(car.licence == ""){
                                      alert("Bitte geben Sie das KFZ-Kennzeichen Autos an.");
                                      return;
                                  }

              $.ajax({
                  url: "/journey/edit",
                  type: "POST",
                  contentType: "application/json",
                  data: JSON.stringify(journey),
                  success: function(data, status){
                  if(data){
                      }
                  }.bind(this),
                  error: function(xhr, error) {
                    console.log(error);
                  }
              });
               setTimeout(function(){
                    self.location['reload']()
                }, 500)
              }


            </script>
    </head>

    <body>

    <div class=container1>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" role="navigation">
  <div class="container-fluid">
    <!-- Titel und Schalter werden für eine bessere mobile Ansicht zusammengefasst -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Navigation ein-/ausblenden</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     <a th:href="@{/}" class="navbar-left"><img id="logo" th:src="@{/images/logo.png}"/></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a th:href="@{/}"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Suche</a></li>
        <li><a th:href="@{/journey/create}"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Fahrt anbieten</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menü <span class="caret"></span></a>
          <ul class="dropdown-menu navbar-right">
            <li><a th:href="@{'/profile/show/profile?id='+${user.id}}+'#offered'"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>   Angebotene Fahrten</a></li>
            <li><a th:href="@{'/profile/show/profile?id='+${user.id}}+'#booked'"><span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>   Gebuchte Fahrten</a></li>
            <li role="separator" class="divider"></li>
            <li><a th:href="@{'/profile/show/profile?id='+${user.id}}+'#profil'"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>   Profil</a></li>
            <li><a th:href="@{'/profile/show/profile?id='+${user.id}}+'#balance'"><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>   Verfügbares Guthaben</a></li>
            <li><a th:href="@{'/profile/show/profile?id='+${user.id}}+'#rating'"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>   Bewertung</a></li>
            <li role="separator" class="divider"></li>
            <li><a th:href="@{/logout}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>   Ausloggen</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  </nav>
</div>

<div class="wrapper">
      <div class="col-sm-9" style="width:80%; margin-left: 5%; margin-right:5% ">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#routenplanung">Routenplanung</a></li>
                <li><a data-toggle="tab" href="#zeitplanung">Zeitplanung</a></li>
                <li><a data-toggle="tab" href="#weitereAngaben">Weitere Angaben</a></li>
              </ul>

        <div class="tab-content">
        <div class="tab-pane fade in active" id="routenplanung">
        <hr>
        <div class="form-group">
        <label for="Startpunkt">Startpunkt</label>
        <output style="width: 450px;" type="text" class="input form-control" id="origin" required placeholder="Startpunkt" th:text="${journey.origin}"/>
        </div>
        <div class="form-group">
        <label for="Startpunkt">Zwischenstop 1</label>
        <output style="width: 450px;" type="text" class="input form-control" id="stop1" placeholder="Zwischenstop 1"/>
        </div>
        <div class="form-group">
        <label for="Startpunkt">Zwischenstop 2</label>
        <output style="width: 450px;" type="text" class="input form-control" id="stop2" placeholder="Zwischenstop 2"/>
        </div>
        <div class="form-group">
        <label for="Startpunkt">Endziel</label>
        <output style="width: 450px;" type="text" class="input form-control" id="destination" required placeholder="Endziel" th:text="${journey.destination}"/>
        </div>

        <div id="map" style="margin-left: 150px; height: 450px; width: 650px"></div>

        </div>


        <div id="zeitplanung" class="tab-pane fade">
        <hr>
        <div class="container2">

        <div class="row" style="margin-left: 5%">

        <div class="col-md-3">
        <div class ="form-group">
        <label for="depdatdat">Datum der Abfahrt</label>
        <output style="width: 160px;" type="date" id="departuredat" th:text="${journey.departureDate}" required class="form-control"/>
        </div>
        </div>

        <div class="col-md-3">
        <div class="form-group">
        <label for="depdattime">Zeitpunkt der Abfahrt</label><br>
        <output style="width: 140px;" type="time" id="departuretime" required class="form-control" th:text="${journey.departureTime}"/>
        </div>
        </div>
        </div>

        <div class="row" style="margin-left: 5%">

        <div class="col-md-3">
        <div class="form-group">
        <label for="arrdatdat">Datum der Ankunft</label>
        <output style="width: 160px;" type="date" id="arrivaldat" required class="form-control" th:text="${journey.arrivalDate}"/>
        </div>
        </div>

        <div class="col-md-3">
        <div class="form-group">
        <label for="arrdatti e">Zeitpunkt der Ankunft</label>
        <output style="width: 140px; margin-left: 5%" type="time" id="arrivaltime" required class="form-control" th:text="${journey.arrivalTime}"/>
        </div>
        </div>

        </div>

        </div>


        <div class="container3" style="margin-top: 30px;">
        <h4 style="margin-left: 80px;">Wiederholung der Fahrt:</h4>
        <output style="width: 140px; margin-left: 80px;" type="time" id="arrivaltime" required class="form-control" th:text="${journey.repeat.description}"/>

        </div>

        </div>

        <div id="weitereAngaben" class="tap-pane fade">
        <hr>

            <div class="row">

            <div class="col-md-3">
            <div class="form-group">
            <label for="Automarke">Automarke</label>
            <output style="width: 160px;" type="text" class="form-control" id="type" required th:text="${journey.car.type}"/></div>
            </div>

            <div class="col-md-3">
            <div class="form-group">
            <label for="Kennzeichen">Kennzeichen</label>
            <output style="width: 160px;" type="text" class="form-control" id="licence" required th:text="*{journey.car.licence}"/></div>
            </div>

            <div class="col-md-3">
            <div class="form-group">
            <label for="farbe">Farbe</label>
            <output id="color" name="color" style="width: 160px;" type="text" th:text="*{journey.car.colour}" class="form-control"/>
            </div>
            </div>

            </div>

            <div class="row">

            <div class="col-md-3">
            <div class="form-group">
            <label for="Plätze">Plätze</label>
            <output id="seats" name="seats" style="width: 160px;" type="text" th:text="*{journey.seats}" class="form-control"/>
            </div>
            </div>

            <div class="col-md-3">
            <div class="form-group">
            <label for="Gepäck">Gepäck</label>
            <output id="bags" name="bags" style="width: 160px;" type="text" th:text="${journey.bags}" class="form-control"/>
            </div>
            </div>

            <div class="col-md-3">
            <div class="form-group">
            <label for="Preis/Km">Preis/Km</label>
            <output style="width: 160px;" type="text" class="form-control" id="priceKm"  th:text="${journey.priceKm}" min="0"/></div>
            </div>

            </div>

            <div class="form-group">
            <label for="Preis/Gepäck">Preis/Gepäck</label>
            <output style="width: 160px;" type="text" class="form-control" id="priceBag" th:text="${journey.priceBag}" min="0"/></div>


        </div>
        </div>
        </div>

        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFtkAWeROn5POqzqjevKRYIo4cB0ZbZWw&libraries=places&callback=initAutocomplete"
        async defer></script>

</body>
</html>
