<!DOCTYPE html>
<html lang="de">
<html xmlns:th="http://www.thymeleaf.org">
  <head>
      <title>Fehlermeldung unangemeldet</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

      <style>

          body{

              margin-left: 20px;
          }


      </style>

    </head>

    <body>

    <h3>...Ups, hier ist etwas schiefgelaufen</h3>
    <br>
    <a style="text-decoration: none;" href="/">Zurück zur Homepage</a>

    </body>

    </html>