<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Place Autocomplete Address Form</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>
              // This example displays an address form, using the autocomplete feature
              // of the Google Places API to help users fill in the information.

              // This example requires the Places library. Include the libraries=places
              // parameter when you first load the API. For example:
              // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

              var places = {};
              var autocompletes = {};
              var journey = {};
              function initAutocomplete() {

                  var directionsService = new google.maps.DirectionsService;
                  var directionsDisplay = new google.maps.DirectionsRenderer;
                  var map = new google.maps.Map(document.getElementById('map'), {
                    zoom: 5,
                    center: {lat: 51.133481, lng: 10.018343}
                  });
                  directionsDisplay.setMap(map);

                var inputs = document.getElementsByClassName('input');

                var options = {
                  componentRestrictions: {country: 'de'}
                };

                function getRoute () {
                  // Get the place details from the autocomplete object.
                  var place = autocompletes[this.inputId].getPlace();

                  places[this.inputId] = place;

                  if (places.destination && places.origin){
                      var waypoints = [];

                      Object.keys(places).filter(key => (key !== 'destination' && key !== 'origin')).map(key => {
                          waypoints.push({
                            location: getLatLng(places[key]),
                            stopover: true
                          })
                      });


                      directionsService.route({
                          origin: getLatLng(places.origin),
                          destination: getLatLng(places.destination),
                          waypoints: waypoints,
                          optimizeWaypoints: false,
                          travelMode: 'DRIVING'
                        }, function(response, status) {
                          if (status === 'OK') {
                            journey.route = JSON.stringify(response)
                            journey.legs = response.routes[0].legs;
                            directionsDisplay.setDirections(response);
                          } else {
                            window.alert('Directions request failed due to ' + status);
                          }
                        });
                  }

                };


                for (var i = 0; i < inputs.length; i++) {
                  var autocomplete = new google.maps.places.Autocomplete(inputs[i], options);
                  autocomplete.inputId = inputs[i].id;
                  autocomplete.addListener('place_changed', getRoute);
                  autocompletes[autocomplete.inputId] = autocomplete;
                }

              }

              function getLatLng(place) {
                  var lat = place.geometry.location.lat();
                  var lng = place.geometry.location.lng();
                  var LatLng = new google.maps.LatLng(lat, lng);
                  return LatLng;
              }

              function saveJourney(){
                journey.seats = $("#seats").val();
                journey.bags = $("#bags").val();
                journey.priceKm = $("#priceKm").val();
                journey.priceBag = $("#priceBag").val();
                journey.departure = $("#departure").val();
                journey.arrival = $("#arrival").val();

                console.log(journey)

                $.ajax({
                    url: "/Journey/create",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(journey),
                    success: function(data, status){
                       alert("Data: " + data + "\nStatus: " + status);
                    }.bind(this),
                    error: function(xhr, error) {
                      console.log(error);
                    }
                });
              };


            </script>

  </head>

  <body>
    <div id="locationField">
      <input id="origin" placeholder="Start" class="input" type="text"/>
      <input id="stop1" placeholder="Stop 1" class="input" type="text"/>
      <input id="stop2" placeholder="Stop 2" class="input" type="text"/>
      <input id="destination" placeholder="End" class="input" type="text"/>
    </div>
    <div id="map" style="height: 400px; width: 400px"></div>
    <div>
      <input id="seats" placeholder="Pätze" type="number" min="1"/>
      <input id="bags" placeholder="Gepäck" type="number" min="0"/>
      <input id="priceKm" placeholder="Preis/Km" type="number" min="0"/>
      <input id="priceBag" placeholder="Preis/Km" type="number" min="0"/>
      <button id="saveButton" onclick="saveJourney()">Speichern</button>
    </div>
    <div>
        <input id="departure" placeholder="Pätze" type="datetime-local"/>
        <input id="arrival" placeholder="Gepäck" type="datetime-local"/>
    </div>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAFtkAWeROn5POqzqjevKRYIo4cB0ZbZWw&libraries=places&callback=initAutocomplete"
        async defer></script>
</body>
</html>