<!DOCTYPE html>
<html lang="de"
xmlns:th="http://www.thymeleaf.org">
  <head>
      <title>Angebotene_Fahrten_Details</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script th:inline="javascript" th:with="legs = (${legs})">

        var legs = [];

        function fillLegs(){

                        /*[# th:each="n : ${legs}"]*/

                        legs.push("[(${n})]");

                        /*[/]*/
        }

        function handoverCheckedLegs(){
            var selectedLegs = [];

            var checkboxes = document.querySelectorAll('input[type=checkbox]:checked')

            for (var i = 0; i < checkboxes.length; i++) {
              selectedLegs.push(legs[checkboxes[i].value]);
            }
            console.log(legs);
            console.log(selectedLegs);

        }

      window.onload = fillLegs;
      </script>

      <style>

          .container1{

              position: relative;
              margin-left: 150px;
              margin-right: 150px;

          }

           .form-control{

              width: 100%;
              border-radius: 10px;

          }

           #logo{

             width:130px;
             height:50px;
             margin-top: 5px;
          }

          #kommentarbox{

              margin-left: 15px;
              margin-top: 260px;
              position: absolute;
          }

          #hintergrund{

             width: 100%;
             height: 100%;
             position: fixed;
          }

          .navbar{

              margin-top: 10px;
          }

          #btn_speichern{

              position: absolute;
              border-radius: 20px;
              margin-left: 15px;
              margin-top: 340px;
          }
      </style>

      </head>
  <body>

      <div class="container1">

          <nav class="navbar navbar-expand-md navbar-dark bg-dark" role="navigation">
  <div class="container-fluid">
    <!-- Titel und Schalter werden für eine bessere mobile Ansicht zusammengefasst -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Navigation ein-/ausblenden</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
     <a href="/" class="navbar-left"><img id="logo" th:src="@{/images/logo.png}"/></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Suche</a></li>
        <li><a href="/journey/create"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Fahrt anbieten</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menü <span class="caret"></span></a>
          <ul class="dropdown-menu navbar-right">
            <li><a th:href="@{'/profile/show/profile?id='+${user.id}}+'#offered'"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>   Angebotene Fahrten</a></li>
            <li><a th:href="@{'/profile/show/profile?id='+${user.id}}+'#booked'"><span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>   Gebuchte Fahrten</a></li>
            <li role="separator" class="divider"></li>
            <li><a th:href="@{'/profile/show/profile?id='+${user.id}}+'#profil'"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>   Profil</a></li>
            <li><a th:href="@{'/profile/show/profile?id='+${user.id}}+'#balance'"><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>   Verfügbares Guthaben</a></li>
            <li><a th:href="@{'/profile/show/profile?id='+${user.id}}+'#rating'"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>   Bewertung</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>   Ausloggen</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  </nav>
  </div>
  <hr>

      <div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#routenplanung">Routenplanung</a></li>
                <li><a data-toggle="tab" href="#fahrerinformationen">Fahrerinformationen</a></li>
                <li><a data-toggle="tab" href="#fahrzeugdaten">Fahrzeugdaten</a></li>
              </ul>


          <div class="tab-content">
            <div class="tab-pane fade in active" id="routenplanung">
                <hr>
                  <form class="form" action="##" th:method="post" th:action="@{/booking/create}" id="routenplanung">

                      <div class="form-group">
                      <div class="col-xs-6">
                      <label for="Startpunkt"><h4>Startpunkt</h4></label>
                      <output type="text" class="form-control" id="startp" th:text="${journey.origin}"></output>
                      </div>
                      </div>

                      <div class="form-group">
                      <div class="col-xs-6">
                      <label for="Endziel"><h4>Endziel</h4></label>
                      <output type="text" class="form-control" id="endz" th:text="${journey.destination}"></output>
                      </div>
                      </div>

                      <div class="form-group">
                      <div class="col-xs-6">
                      <label for="Abfahrtszeit" ><h4>Abfahrtszeit</h4></label>
                      <output type="time" class="form-control" id="abfahrts" th:text="${journey.departure}"></output>
                      </div>
                      </div>

                        <div class="form-group">
                        <div class="col-xs-6">
                        <label for="Ankunftszeit"><h4>Ankunftszeit</h4></label>
                        <output type="time" class="form-control" id="ankunfts" th:text="${journey.arrival}"></output>
                        </div>
                        </div>

                        <div th:each="leg , iStat : ${legs}" class="form-group">
                        <div class="col-xs-6">
                        <label for="Zwischenstop1"><h4 th:text="${iStat.count}+'. Zwischenstop'"></h4></label>
                        <output type="text" th:text="${leg.start_address}" class="form-control" id="1zwischen"></output>
                        <input type="checkbox" th:value="${iStat.index}">
                        </div>
                        </div>

                        <div class="form-group">
                        <div class="col-xs-6">
                        <label for="Datum"><h4>Datum</h4></label>
                        <output type="datetime-local" class="form-control" th:text="${journey.departure}" id="endp"></output>
                        </div>
                        </div>
                        </form>
                        </div>

                        <input id="btn_speichern" class="btn btn-success"  onclick="handoverCheckedLegs()" type="submit" value="Fahrt buchen">


              <div id="fahrerinformationen" class="tab-pane fade">
                <hr>

               <div class="form-group">
                        <div class="col-xs-6">
                          <label for="Vorname"><h4>Vorname</h4></label>
                            <output type="text" th:text="${driver.name}" class="form-control" name="Vorname" id="v_name" title="Vorname"></output>
                          </div>
                      </div>

              <div class="form-group">
                          <div class="col-xs-6">
                            <label for="last_name"><h4>Nachname</h4></label>
                              <output type="text" th:text="${driver.lastName}" class="form-control" name="Nachname" id="n_name" title="Nachname"></output>
                          </div>
                      </div>

                       <div class="form-group">
                          <div class="col-xs-6">
                              <label for="Geburtstag"><h4>Geburtstag</h4></label>
                              <output type="text" th:text="${driver.birth}"class="form-control" name="Geburtstag" id="g_burt" title="Geburtsdatum eingeben"></output>
                          </div>
                      </div>

                      <div class="form-group">

                          <div class="col-xs-6">
                              <label for="email"><h4>Email</h4></label>
                              <output type="email" th:text="${driver.email}" class="form-control" name="email" id="e_mail" title="E-Mail Adresse"></output>
                          </div>
                      </div>

                      <div class="form-group">

                          <div class="col-xs-6">
                              <label for="Telefonnummer"><h4>Telefonnummer</h4></label>
                              <output type="text" th:text="${driver.phone}" class="form-control" name="Telefonnummer" id="t_nummer" title="Telefonnummer"></output>
                          </div>
                      </div>

                <form id="kommentarbox" action="" method="post">
                <label> Persönliche Angaben: <br><textarea cols="45" rows="5" name="message"></textarea></label>
                </form>
                </div>

              <div id="fahrzeugdaten" class="tab-pane fade">
              <hr>

                    <div class="row">

                    <div class="form-group">
                    <div class="col-md-3">
                    <label style="margin-top: 15px;"for="Automarke"><h4>Automarke</h4></label>
                    <output type="text" class="form-control" id="marke"></output>
                    </div>
                    </div>

                    <div class="form-group">
                    <div class="col-md-3">
                    <label for="Kennzeichen"><h4>Kennzeichen</h4></label>
                    <output type="text" class="form-control" id="kennz"></output>
                    </div>
                    </div>

                    <div class="form-group">
                    <div class="col-md-3">
                    <label for="Farbe"><h4>Farbe</h4></label>
                    <output type="text" class="form-control" id="farbe"></output>
                    </div>
                    </div>
                    </div>

                    </div>

              </div>

      </div>

  </body>
  </html>