<!DOCTYPE html>
<html lang="de"
xmlns:th="http://www.thymeleaf.org">
  <head>
      <title>Angebotene_Fahrten_Details</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script th:inline="javascript">

        var legs = [];

        var priceKm;

        var priceBag;

        function fillLegs(){

        document.getElementById('priceTotal').innerHTML = "0.00 €";

        /*<![CDATA[*/

            priceKm = [[${journey.priceKm}]];
            priceBag = [[${journey.priceBag}]];
            console.log(priceBag);
            userId = [[${user.id}]]

        /*]]>*/

        document.getElementById('priceKmPrint').innerHTML = priceKm+" €";


        /*[# th:each="n : ${legs}"]*/

        var leg = {};

        leg.id = "[(${n.id})]";
        leg.end_address = "[(${n.start_address})]";
        leg.end_address = "[(${n.end_address})]";
        leg.seats = "[(${n.seats})]";
        leg.bags = "[(${n.bags})]";
        leg.distance = "[(${n.distance})]";
        leg.duration = "[(${n.duration})]";
        legs.push(leg);
        console.log(leg);

        /*[/]*/

        }

        function handoverCheckedLegs(){
            var selectedLegs = [];
            var checkboxes = document.querySelectorAll('input[type=checkbox]:checked')
            for (var i = 0; i < checkboxes.length; i++) {
              selectedLegs.push(legs[checkboxes[i].value]);
            }

                $.ajax({
                    url: "/booking/create",
                    type: "POST",
                    contentType: "application/json",
                    data: JSON.stringify(selectedLegs),
                    success: function(data, status){
                        if(data){
                            window.location.href="/profile/show/profile?id="+userId+"#booked";
                        }
                    }.bind(this),
                    error: function(xhr, error) {
                      console.log(error);
                    }
                });

        }

        function updatePrice(){

            var selectedLegs = [];
            var bags = document.getElementById("baggage").value;
            var price = parseFloat(0.00);
            var checkboxes = document.querySelectorAll('input[type=checkbox]:checked')

            console.log(bags);
            console.log(priceBag);
            for (var i = 0; i < checkboxes.length; i++) {
              selectedLegs.push(legs[checkboxes[i].value]);
            }

            for( var i = 0; i < selectedLegs.length;i++){
                var km = parseFloat(selectedLegs[i].distance / 1000);
                price = price + (priceKm * km)
            }
            price = price + priceBag * bags;
            console.log(price);

            if(price > 0){
            document.getElementById('priceTotal').innerHTML = price.toFixed(2) +' €';
            }

            else{
                document.getElementById('priceTotal').innerHTML = "0.00 €";
            }
        }

      window.onload = fillLegs;
      </script>

      <style>

          .container1{

              position: relative;
              margin-left: 150px;
              margin-right: 150px;

          }

           .form-control{

              width: 100%;
              border-radius: 10px;

          }

           #logo{

             width:130px;
             height:50px;
             margin-top: 5px;
          }

          #kommentarbox{

            position: absolute;
            margin-left: 16px;
            margin-top: 270px;

          }


          .navbar{

              margin-top: 10px;
          }

          #btn_buchen{

              position: absolute;
              border-radius: 20px;
              margin-top: 400px;
              margin-left: 16px;

          }

          #checkbox{

              position: absolute;
              margin-left: 420px;
              margin-top: -27px;
              width: 20px;
              height: 20px;
          }
      </style>

      </head>
  <body>

      <div class="container1">

          <nav class="navbar navbar-expand-md navbar-dark bg-dark" role="navigation">
  <div class="container-fluid">
    <!-- Titel und Schalter werden für eine bessere mobile Ansicht zusammengefasst -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Navigation ein-/ausblenden</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-left"><img id="logo" th:src="@{/images/logo.png}"/></a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/"><span class="glyphicon glyphicon-search" aria-hidden="true"></span> Suche</a></li>
        <li><a href="/journey/create"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Fahrt anbieten</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menü <span class="caret"></span></a>
          <ul class="dropdown-menu navbar-right">
            <li><a th:href="@{'/profile/show/profile?id='+${user.id}}+'#offered'"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>   Angebotene Fahrten</a></li>
            <li><a th:href="@{'/profile/show/profile?id='+${user.id}}+'#booked'"><span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>   Gebuchte Fahrten</a></li>
            <li role="separator" class="divider"></li>
            <li><a th:href="@{'/profile/show/profile?id='+${user.id}}+'#profil'"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>   Profil</a></li>
            <li><a th:href="@{'/profile/show/profile?id='+${user.id}}+'#balance'"><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span>   Verfügbares Guthaben</a></li>
            <li><a th:href="@{'/profile/show/profile?id='+${user.id}}+'#rating'"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>   Bewertung</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>   Ausloggen</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  </nav>
  </div>
  <hr>

      <div class="col-sm-9">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#routenplanung">Routenplanung</a></li>
                <li><a data-toggle="tab" href="#reisekosten">Reisekosten</a></li>
                <li><a data-toggle="tab" href="#fahrerinformationen">Fahrerinformationen</a></li>
                <li><a data-toggle="tab" href="#fahrzeugdaten">Fahrzeugdaten</a></li>
              </ul>


          <div class="tab-content">
            <div class="tab-pane fade in active" id="routenplanung">
                <hr>
                  <form class="form" action="##" method="post" id="routenplanung">

                      <div class="form-group">
                      <div class="col-md-8">
                      <label for="Startpunkt"><h4>Startpunkt</h4></label>
                      <output style="width: 400px;" type="text" th:text="${journey.origin}" class="form-control" id="startp"></output>
                      </div>
                      </div>

                      <div class="form-group">
                      <div class="col-md-8">
                      <label for="Endziel"><h4>Endziel</h4></label>
                      <output style="width: 400px;" type="text" th:text="${journey.destination}" class="form-control" id="endz"></output>
                      </div>
                      </div>

                    <div class="form-group">
                    <div class="col-md-6">
                    <label for="Datum"><h4>Datum der Abfahrt</h4></label>
                    <output style="width: 150px;" type="datetime-local" th:text="${journey.departureDate}" class="form-control" id="endp"></output>
                    </div>
                    </div>

                      <div class="form-group">
                      <div class="col-md-6">
                      <label style="margin-left: -300px;" for="Abfahrtszeit"><h4>Abfahrtszeit</h4></label>
                      <output style="width: 150px; margin-left: -300px;" type="time" class="form-control" th:text="${journey.departureTime}+' Uhr'" id="abfahrts"></output>
                      </div>
                      </div>


                    <div class="form-group">
                    <div class="col-md-6">
                    <label for="Datum"><h4>Datum der Ankunft</h4></label>
                    <output style="width: 150px;" type="datetime-local" th:text="${journey.arrivalDate}" class="form-control" id="endp"></output>
                    </div>
                    </div>

                        <div class="form-group">
                        <div class="col-md-6">
                        <label style="margin-left: -300px;" for="Ankunftszeit"><h4>Ankunftszeit</h4></label>
                        <output style="width: 150px; margin-left: -300px;" type="time" class="form-control" th:text="${journey.arrivalTime}+' Uhr'" id="ankunfts"></output>
                        </div>
                        </div>

                        <div th:each="leg , iStat : ${legs}" class="form-group">
                        <div class="col-md-8">
                        <label for="Teilstrecke"><h4 th:text="${iStat.count}+'. Teilstrecke'"></h4></label>
                        <output style="width: 400px;" th:text="'Von: '+${leg.start_address}+', Nach: '+${leg.end_address}" type="text" class="form-control" id="teil_strecke"></output>
                        <input type="checkbox" onchange="updatePrice()" th:value="${iStat.index}">
                        </div>
                        </div>


                        </form>
                        <input id="btn_buchen" class="btn btn-success" onclick="handoverCheckedLegs()" type="submit" value="Fahrt buchen">
                        </div>

                    <div id="reisekosten" class="tab-pane fade">

                    <hr>

                    <div class="col-md-8">
                    <div class="form-group">
                    <label for="Gepäck"><h4>Gepäckzahl eingeben</h4></label>
                    <input style="width: 200px; text-align: center;" type="number" class="form-control" id="baggage" oninput="updatePrice()" placeholder="Gepäckzahl eingeben" min="0" max="10"></div>
                    </div>

                    <div class="col-md-8">
                    <div class="form-group">
                    <label for="Preis/Km"><h4>Preis/Km</h4></label>
                    <ouput style="width: 200px; text-align: center;" type="text" class="form-control" id="priceKmPrint" placeholder="Pries/Km" min="0"></ouput>
                    </div>
                    </div>

                    <div class="col-md-8">
                    <div class="form-group">
                    <label for="Gesamtkosten"><h4>Gesamtkosten der Fahrt</h4></label>
                    <ouput style="width: 200px; text-align: center;" type="text" class="form-control" id="priceTotal"></ouput>
                    </div>
                    </div>


                    </div>

              <div id="fahrerinformationen" class="tab-pane fade">
                <hr>

               <div class="form-group">
                        <div class="col-xs-6">
                          <label for="Vorname"><h4>Vorname</h4></label>
                            <output type="text" class="form-control"  th:text="${driver.name}" name="Vorname" id="name" title="Vorname"></output>
                          </div>
                      </div>

              <div class="form-group">
                          <div class="col-xs-6">
                            <label for="last_name"><h4>Nachname</h4></label>
                              <output type="text" class="form-control" th:text="${driver.lastName}" name="Nachname" id="lastName" title="Nachname"></output>
                          </div>
                      </div>

                       <div class="form-group">
                          <div class="col-xs-6">
                              <label for="Geburtstag"><h4>Geburtstag</h4></label>
                              <output type="text" class="form-control" name="Geburtstag" th:text="${driver.birth}" id="birth" title="Geburtsdatum eingeben"></output>
                          </div>
                      </div>

                      <div class="form-group">

                          <div class="col-xs-6">
                              <label for="email"><h4>Email</h4></label>
                              <output type="email" class="form-control" th:text="${driver.email}" name="email" id="email" title="E-Mail Adresse"></output>
                          </div>
                      </div>

                      <div class="form-group">

                          <div class="col-xs-6">
                              <label for="Telefonnummer"><h4>Telefonnummer</h4></label>
                              <output type="text" class="form-control" th:text="${driver.phone}" name="Telefonnummer" id="phone" title="Telefonnummer"></output>
                          </div>
                      </div>

                <form id="kommentarbox" action="" method="post">
                <label> Persönliche Angaben: <br><textarea readonly cols="45" rows="5" name="message"></textarea></label>
                </form>
                </div>

              <div id="fahrzeugdaten" class="tab-pane fade">
              <hr>

                    <div class="row">

                    <div class="form-group">
                    <div class="col-md-3">
                    <label style="margin-top: 15px;"for="Automarke"><h4>Automarke</h4></label>
                    <output type="text" class="form-control" th:text="${journey.car.type}" id="type"></output>
                    </div>
                    </div>

                    <div class="form-group">
                    <div class="col-md-3">
                    <label for="Kennzeichen"><h4>Kennzeichen</h4></label>
                    <output type="text" th:text="${journey.car.licence}" class="form-control" id="licence"></output>
                    </div>
                    </div>

                    <div class="form-group">
                    <div class="col-md-3">
                    <label for="Farbe"><h4>Farbe</h4></label>
                    <output type="text" th:text="${journey.car.colour}" class="form-control" id="farbe"></output>
                    </div>
                    </div>
                    </div>

                    </div>

              </div>

      </div>

  </body>
  </html>